@use "./scss/normalize";
@use "./scss/variables/variables" as *;

body {
  min-height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ede3ff;
  background: linear-gradient(156deg, rgba(237, 227, 255, 1) 0%, rgba(233, 207, 255, 1) 50%, rgba(203, 179, 255, 1) 100%);
}

#root {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 1rem;
  box-sizing: border-box;
}