.outputBar {
  width: 100%;
  max-width: 700px;

  min-height: 70px;

  padding: 1rem 1.25rem;

  color: var(--green);

  font-size: 1rem;
  line-height: 1.6;

  word-break: break-word;
  white-space: pre-wrap;
}
